#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: 20px auto;
}

#image-preview {
    max-height: 100%;
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

#image-preview {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

#file-input{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}